<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='888.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/watch_style.css') }}">
    <title>230</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Labor is a matter of honor and heroism!</h1>
        </div>
        
        <div class="player-container">
            <iframe id="video-iframe" src="{{ watch_url }}" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>

